body {
    text-align: center;
    background-color: red;
}
#code {
    background-color: aqua;
}
#S {
    background-color: red;
    height:400px;
}
#I:hover {
    transform:scale(0.9);
}
#C {
    height: 600px;
    background-color: darkblue
}
#I {
    height:200px;
}